@import "./helpers.scss";

@include medium {
  aside.related {
    align-self: end;
    position: sticky;
    bottom: 1em;
    h4 {
      margin-top: 1em;
      margin-bottom: 0.5em;
    }
    a {
      font-weight: bold;
    }
    p {
      margin-top: 0.5em;
      font-size: 0.9em;
    }
  }
}

.related-container {
  display: flex;
  flex-flow: row wrap;
}

.related-article {
  flex: 1 0 15em;
  margin-right: 0.5em;
  @include medium {
    margin-right: 0;
  }
}

article {
  .highlight {
    overflow: auto;
    border: 1px solid lightgray;
    box-shadow: 5px 5px 5px gray;
    margin-bottom: 5px;
    margin-right: 10px;
  }
  .highlight code {
    display: block;
    padding: 1em;
  }

  pre {
    margin: 0;
  }
}

.mermaid svg {
  max-width: 100%;
}

article img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

article .center {
  text-align: center;
}

article blockquote {
  border-width: 0 0 0 0.3rem;
  border-style: solid;
  border-color: dimgray;
  margin-left: 2rem;
  padding-left: 1rem;
}

article {
  table,
  th,
  td {
    border-collapse: collapse;
    border: 1px solid black;
  }
  td {
    padding: 0.5em;
  }
}

article {
  max-width: 100%;
}

article h1:first-of-type {
  margin-top: 0; //hack to reduce margin in a place where grid-gap already creates space
}
