@import "./helpers.scss";

main.books {
  @include medium {
    grid-column: 1/3;
  }
}

ul.book-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 10px;
  @include medium {
    grid-template-columns: 1fr 1fr;
  }
}

.books-intro {
  max-width: 40em;
  margin: 0 auto;
}

.book-card {
  img {
    max-width: 150px;
    object-fit: scale-down;
    margin-right: 1em;
  }
}

.book-container {
  h4 {
    margin-top: 0;
  }
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.book-detail {
  display: grid;
  gap: 30px;
  @include medium {
    grid-column: 1/3;
    grid-template-columns: 1fr 2fr;
  }
  .image-container {
    min-width: 0;
  }
  img {
    display: block;
    max-width: 100%;
    object-fit: scale-down;
  }
  h1 {
    margin-top: 0;
  }
}
