@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";

// These values are the minimum and maximum viewport sizes to apply the font scaling
$min_width: 400;
$max_width: 800;
// These values represent the range of fon-tsize to apply
// These values effect the base font-size, headings and other elements will scale proportionally
$min_font: 17;
$max_font: 20;

$body_margin: 3vw;
$aside_max_width: 15em;

// Looking for a mixin? Try: https://codepen.io/MadeByMike/pen/vNrvdZ

:root {
  font-size: #{$min_font}px;
}
// This part is a little bit ugly, I will explain what is going on in a blog post soon.
@media (min-width: #{$min_width}px) and (max-width: #{$max_width}px) {
  :root {
    font-size: calc(
      #{$min_font}px + (#{$max_font} - #{$min_font}) *
        ((100vw - #{$min_width}px) / (#{$max_width} - #{$min_width}))
    );
  }
}
@media (min-width: #{$max_width}px) {
  :root {
    font-size: #{$max_font}px;
  }
}

@import "./homepage.scss";
@import "./new-articles.scss";
@import "./article.scss";
@import "./books.scss";
@import "./helpers.scss";

body {
  display: grid;
  margin: 0 $body_margin;
  row-gap: 10px;
  column-gap: 40px;
  font-family: "Roboto Slab", serif;
  color: rgb(56, 56, 56);
  @include medium {
    grid-template-columns: 1fr minmax(10em, $aside_max_width);
  }
  @include large {
    max-width: 1000px;
    margin: 0 auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

@include medium {
  header {
    grid-column: 1/3;
  }

  footer {
    grid-column: 1/3;
  }
}

a {
  color: rgb(8, 122, 236);
}

a:hover {
  color: lightskyblue;
}

a:active {
  background-color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  h2 a {
    text-decoration: none;
  }
  h2 {
    margin-bottom: 0;
  }
}

small {
  font-size: 70%;
}

.pagination {
  margin: 1em auto;
  justify-content: center;
  .active {
    font-weight: bold;
  }
}

.pagination-container {
  display: grid;
  gap: 1em;
  grid-auto-flow: column;
}

nav {
  li {
    list-style: none;
  }
  display: flex;
}

main {
  min-width: 0;
  max-width: calc(min(50em, #{100vw - 2 * $body_margin}));
  overflow: hidden;
}

.latest h3 {
  margin-top: 0; //hack to reduce margin in a place where grid-gap already creates space
}
