#mc_embed_signup {
  #mc_embed_signup_scroll {
    display: grid;
    grid-auto-flow: row;
  }
  input[type="email"],
  input[type="submit"] {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  input[type="email"] {
    width: 100%;
  }
  input[type="submit"] {
      padding: 0.2rem;
    font-family: "Open Sans", sans-serif;
    border-radius: 0;
    background-color: white;
    border: 1px solid gray;
    box-shadow: none;
    &:hover {
        background-color: lightgray;
    }
  }
}

.new-articles {
  max-width: $aside_max_width;
  margin-left: auto;
  margin-right: auto;
  h4 {
    margin-bottom: 0;
  }
  .form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  p {
    font-size: 0.9em;
  }
  a {
    font-size: 1.6em;
    text-decoration: none;
  }
}
