<div class="row align-items-end">
    {{- if .PublishDate }}
    <div class="col">
        <h6>
            <span><i class="far fa-calendar"></i> <time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "2 January 2006" }}</time></span>
        </h6>
    </div>
    {{- end }}
</div>