{{ define "main" }}


{{ $class := "blq-quote" }}
{{ if (and (isset .Params "blockquote") (eq .Params.blockquote "highlight")) }}
{{ $class = "blq-highlight" }}
{{ end }}
<main>
	<article class="main {{ $class }}">
		<!-- {{ partial "single/post-info.html" . }} -->
		{{ partial "single/title.html" . }}

		{{ partial "single/header.html" . }}

		{{ .Content }}
		<hr/>
	</article>
</main>
<aside class="related">
	{{ partial "homepage/new-articles.html" }}
	{{ partial "single/related.html" . }}
</aside>



{{ end }}
