<div class="row">
<div class="col">
<a href="{{ .Permalink }}" class="text-decoration-none text-reset">
    <article class="mb-5">
        <h6><i class="far fa-calendar"></i> <time datetime="{{ .PublishDate }}" class="catalogue-time">{{ .PublishDate.Format "2 January 2006" }}</time></h6>
        <h2>{{ .Title }}</h1>
        <p>
            {{ .Summary }}
        </p>
    </article>
</a>
</div>
</div>