<nav>

<ul class="navbar-nav">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="nav-item">
        <a class="nav-link" href="{{ .URL }}">
            {{ .Pre }}
            <span>{{ .Name }}</span>
            {{ .Post }}
        </a>
    </li>
       
    {{ end }}
</ul>
</nav>
