<div class="row  mb-3">
    <div class="col bg-light border mr-md-3 {{ if eq .Title "Latest" }}latest{{ end }}">
        <h3 class="mt-2 ml-3">{{ .Title }}</h3>
        <ul>
            {{ range .Pages }}
            {{ partial "homepage/article-list-item.html" . }}
            {{ end }}
            {{ if eq .Title "Latest" }}
            <li>
                <a href="/posts/">
                    See more
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</div>
