<div class="book-card">

  <div class="book-container">
    <img src="/books/{{ .File.BaseFileName }}.jpg" class="card-img" alt="Book cover {{ .Title }}">
    <div class="card-body">
      <a href="{{ .Permalink }}">
        <h4 class="card-title">{{ .Title }}</h4>
      </a>
      <p class="card-text">{{ .Summary | truncate 200 }}</p>
      <p class="card-text"><small class="text-muted"><i class="fas fa-stop"></i> Finished {{ .PublishDate.Format "2 January 2006" }}</small></p>
    </div>
  </div>
</div>
